@font-face {
  font-family: 'NorseBold';
  src: url('/assets/font/Norse-Bold.otf') format('opentype');
}

body {
  font-family: 'Arial', sans-serif;
  background-color: black;
}

.logo-text {
  font-family: 'NorseBold', sans-serif;
}